{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Films{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-item">
            <a href="{% url 'film-list' %}">Accueil</a>
        </div>
        <div class="nav-item dropdown">
            <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
                {% for category in categories %}
                <a href="{% url 'film-list-by-category' category.name %}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
    </nav>
   

    
</body>
{% block content %}
    {% endblock %}
</html>


